{% extends 'base.html.twig' %}

{% block title %}Shogi{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <style>

        .container {
            background: aliceblue;
        }

        .red {
            color: #b0413e;
        }

        .possible {
            background: #4f805d;
        }

        .eatable {
            background: #b0413e !important;
        }

        /*.cell {*/
        /*    text-align: center;*/
        /*    cursor: pointer;*/
        /*    min-width: 20px;*/
        /*    min-height: 20px;*/
        /*    border: 1px solid gainsboro;*/
        /*    margin: auto;*/
        /*}*/
        table, th, td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
            cursor: pointer;
        }

        .cell:hover {
            /*color: orange;*/
            background: orange;
        }

        .white {
            color: #00B8F5;
        }

        .black {
            color: #000;
            font-weight: bold;
        }

        .hide {
            display: none;
        }

        #black_eaten {
            display: flex;
            flex-direction: row;
        }

        #white_eaten {
            display: flex;
            flex-direction: row;
        }

        .white-eaten-piece {
            background: white;
            color: black;
        }

        .black-eaten-piece {
            background: black;
            color: white;
        }

        .active {
            background: rebeccapurple;
        }

        .eaten {
            margin: 10px;
            height: 30px;
            width: 30px;
            border: 1px solid #4e555b;
        }

    </style>

    <div class="example-wrapper">
        <div class="row">
            <div class="col-12 text-center">
                <h1> Shogi </h1>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-12 text-center">
                <div class="row row align-items-center justify-content-center">
                    <div id="board_container">
                        <div id="black_eaten">
                            {{ eatenPieces.black | raw }}
                        </div>
                        <div id="main_board">
                            {{ board | raw }}
                        </div>
                        <div id="white_eaten">
                            {{ eatenPieces.white | raw }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="form-control succes" id="reset_board">
                                <span class="spinner-border spinner-border-sm is-fetching" role="status"
                                      aria-hidden="true"></span>
                                Reset Board
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="form-control succes" id="promote_piece">
                                <span class="spinner-border spinner-border-sm is-fetching" role="status"
                                      aria-hidden="true"></span>
                                Promote Piece
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row hide">
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" id="piece_id" disabled>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="row_to" disabled>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="col_to" disabled>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="add_piece_flag" value="0" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        (function () {

            const reset_board = document.getElementById('reset_board');

            isFetching(false);
            eatenClicks()
            clickCell();


            reset_board.addEventListener('click', function () {
                resetBoardDbs();
                const whiteEatenDiv = document.getElementById('white_eaten');
                whiteEatenDiv.innerHTML = "";
                const blackEatenDiv = document.getElementById('black_eaten');
                blackEatenDiv.innerHTML = "";
            });


            function addPieceback(row_to, col_to) {

                let id_piece = getSelectedAddPieceDive();

                var httpRequest = new XMLHttpRequest()
                httpRequest.onreadystatechange = function (data) {
                    if (httpRequest.readyState === 4) {

                        const addFlag = document.getElementById('add_piece_flag');
                        addFlag.value = 0;
                    }
                };

                httpRequest.open('POST', '{{ path('add_piece_back') }}')
                httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                httpRequest.send('id_piece=' + id_piece + '&row_to=' + row_to + '&col_to=' + col_to)
            }

            function getSelectedAddPieceDive() {
                var lists = document.querySelectorAll(".eaten");
                let piece_id = "";

                for (let el of lists) {
                    if (el.classList.contains('active')) {
                        piece_id = el.id;
                        break
                    }
                }

                return piece_id;

            }


            function eatenClicks() {
                var lists = document.querySelectorAll(".eaten");
                doSomething = function () {
                    const addFlag = document.getElementById('add_piece_flag');
                    let flagValue = addFlag.value;

                    if (flagValue == 0) {
                        this.classList.add('active');
                        addFlag.value = 1
                    } else {
                        this.classList.remove('active');
                        addFlag.value = 0
                    }

                };

                [].map.call(lists, function (elem) {
                    elem.addEventListener("click", doSomething, false);
                });

            }


            function getMainBoard() {
                var httpRequest = new XMLHttpRequest()
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState === 4) {
                        const resultObject = JSON.parse(httpRequest.response);
                        const main_board = document.getElementById('main_board');
                        main_board.innerHTML = resultObject.board;
                        clickCell();
                        eatenClicks();
                    }
                };
                httpRequest.open('POST', '{{ path('get_main_board') }}')
                httpRequest.send();
            }


            function resetBoardDbs() {
                isFetching(true);
                reset_board.disabled = true;
                var httpRequest = new XMLHttpRequest()
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState === 4) {
                        isFetching(false);
                        getMainBoard();
                        reset_board.disabled = false;
                    }
                };
                httpRequest.open('POST', '{{ path('clear_bds') }}')
                httpRequest.send();
            }

            function makeMove(id_piece, row_to, col_to, eatable) {

                var httpRequest = new XMLHttpRequest()
                httpRequest.onreadystatechange = function (data) {
                    if (httpRequest.readyState === 4) {
                        const resultObject = JSON.parse(httpRequest.response);

                        let whiteEaten = resultObject.white;
                        let blackEaten = resultObject.black;

                        const whiteEatenDiv = document.getElementById('white_eaten');
                        whiteEatenDiv.innerHTML = whiteEaten;
                        const blackEatenDiv = document.getElementById('black_eaten');
                        blackEatenDiv.innerHTML = blackEaten;

                        getMainBoard();
                    }
                };
                httpRequest.open('POST', '{{ path('make_move') }}')
                httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                httpRequest.send('id_piece=' + id_piece + '&row_to=' + row_to + '&col_to=' + col_to + '&eatable=' + eatable)
            }


            function sendMove(id_piece) {
                var httpRequest = new XMLHttpRequest()
                httpRequest.onreadystatechange = function (data) {
                    if (httpRequest.readyState === 4) {
                        clearBoard("move_to_table");
                        const resultObject = JSON.parse(httpRequest.response);
                        const possibleMovesClear = resultObject.possibleMovesArray.clear;
                        const possibleMovesEat = resultObject.possibleMovesArray.eat;


                        for (let key in possibleMovesClear) {
                            let obj = possibleMovesClear[key];
                            let id = "" + obj[0] + obj[1];
                            document.getElementById(id).classList.add("possible");
                        }

                        for (let key in possibleMovesEat) {
                            let obj = possibleMovesEat[key];
                            let id = "" + obj[0] + obj[1];
                            document.getElementById(id).classList.add("eatable");
                        }
                    }
                };

                httpRequest.open('POST', '{{ path('move_piece') }}')
                httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                httpRequest.send('id_piece=' + id_piece)
            }

            function clearBoard(table) {
                var row = document.getElementById('move_to_table').rows;
                var y;
                for (var i = 0; i < row.length; i++) {
                    for (var j = 0; j < row[i].cells.length; j++) {
                        y = row[i].cells;
                        y[j].classList.remove('possible', 'eatable');
                    }
                }
            }


            function setRowCol(row, col, id_piece, eatable) {

                if (id_piece != "" && !eatable) {
                    document.getElementById('piece_id').value = id_piece;
                    sendMove(id_piece);

                } else {
                    let id_celda = row + col;
                    let celda = document.getElementById(id_celda);

                    if (celda.classList.contains('possible') || celda.classList.contains('eatable')) {
                        document.getElementById('row_to').value = row;
                        document.getElementById('col_to').value = col;
                        let id_piece = document.getElementById('piece_id').value;
                        let row_to = document.getElementById('row_to').value;
                        let col_to = document.getElementById('col_to').value;
                        let pieza = document.querySelectorAll("[data-piece='" + id_piece + "']")[0];
                        let promoted = pieza.classList.contains("promoted") ? '1' : '0';
                        let color = pieza.classList.contains("white") ? 'white' : 'black';
                        promoted == 0 ? checkIfPromotable(id_piece, row_to, col_to, color) : "";
                        makeMove(id_piece, row_to, col_to, eatable);
                    }

                }
            }


            function isFetching(bool) {
                var els = document.getElementsByClassName('is-fetching');
                Array.prototype.forEach.call(els, function (el) {
                    bool == true ? el.style.opacity = "1" : el.style.opacity = "0";
                });
            }

            function checkIfPromotable(id_piece, row, col, color) {
                let promotionAreaArray = promotionArea(color);
                if (checkIfExistCoordinate(promotionAreaArray, parseInt(row), parseInt(col))) {
                    askIfPromotePiece(id_piece);
                }
            }


            function checkIfExistCoordinate(promotionAreaArray, row, col) {
                for (var i = 0, len = promotionAreaArray.length; i < len; i++) {
                    if (promotionAreaArray[i][0] == row && promotionAreaArray[i][1] == col) {
                        return true;
                        break;
                    }
                }
                return false;
            }

            function promotionArea(color) {
                var arrayPromotionArea = null;
                var allElements = [];

                for (let i = 0; i < 9; i++) {
                    for (let j = 0; j < 9; j++) {
                        allElements.push([i, j])
                    }
                }
                switch (color) {
                    case 'white':
                        arrayPromotionArea = allElements.slice(54, 81);
                        break;
                    case 'black':
                        arrayPromotionArea = allElements.slice(0, 27);
                        break;
                    default:
                        arrayPromotionArea = [];
                        break;
                }
                return arrayPromotionArea;
            }


            function askIfPromotePiece(id_piece) {
                swal({
                    title: "You can promote the piece",
                    text: "¿Do you want to do it?",
                    icon: "info",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willPromote) => {
                        if (willPromote) {
                            promotePiece(id_piece);
                            getMainBoard();
                        }
                    });
            }


            function promotePiece(id_piece) {
                var httpRequest = new XMLHttpRequest()
                httpRequest.onreadystatechange = function (data) {
                    if (httpRequest.readyState === 4) {
                        const resultObject = JSON.parse(httpRequest.response);
                        console.log(resultObject);
                    }
                };

                httpRequest.open('POST', '{{ path('promote_piece') }}')
                httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                httpRequest.send('id_piece=' + id_piece)
            }


            function clickCell() {
                var row = document.getElementById('move_to_table').rows;
                for (var i = 0; i < row.length; i++) {
                    for (var j = 0; j < row[i].cells.length; j++) {
                        //console.log(row[i].cells[j].innerHTML);
                        row[i].cells[j].addEventListener('click', function (e) {
                            let row = this.getAttribute("data-row");
                            let col = this.getAttribute("data-col");
                            let id_piece = this.getAttribute("data-piece");
                            let eatable = this.classList.contains('eatable');
                            const addFlag = document.getElementById('add_piece_flag');
                            let addPieceFlagValue = addFlag.value;

                            if (addPieceFlagValue == 1) {
                                addPieceback(row, col)
                            } else {
                                setRowCol(row, col, id_piece, eatable);
                            }

                        })
                    }
                }
            }


        })();
    </script>

{% endblock %}
